* {
  /* outline: 1px solid white; */
  font-family: "Inter";
}

.projects-banner-container {
  width: 100%;
  height: 70vh;
  background-color: #131825;
}

.projects-banner-small-container {
  width: 75%;
  margin: auto;
  background-color: #131825;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.image-dmv {
  width: 30%;
  height: 350px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/dmvrex.png);
  background-size: cover;
  background-position: 25% 80%;
  gap: 60px;
  border-radius: 8px;
  opacity: 0.8;
}

.image-dmv p {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
  margin: 10px;
  font-family: "Inter";
  text-align: center;
}

.image-dmv a {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 14px;
  color: #f2f2f2;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 20px;
  background: #64748b;
  border-radius: 40px;
}

.image-dmv:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.image-dmv:hover p {
  opacity: 1;
  transform: scale(1);
}

.image-dmv:hover a {
  opacity: 1;
  transform: scale(1);
}

.link:hover {
  background: #f2f2f2;
  color: #64748b;
}

.image-fitlab {
  width: 30%;
  height: 350px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://lh3.googleusercontent.com/R8aROHMTf-0N6G-xcIloJBAwxfJS3CzNy66QNiesFbluVFFvjCnoZCNkMGQ2Tra9O-INtuzWB8stbxY95e6a7G4KmgsL_A_i_w94rIq3HMDmAkAlxXYZwtNvNNo_mBWtkPgTPKu5KsrPxseHQ3bN0qst8C8Lb23WVXhCQbIPA_rJqvE2q9rMp00lm8Kaj2_kPjSb-fAR0y1MtyxNMXKnI-By7Qe7YzVaJoA_BaK4RZblYMXYM5GYYDXHZ8GXWbtzXy8EyDDMLpEYTII2BETFG43wPdP4u230JAaW3JGrb_ZJpNSI-1FIBoej6v4x4Q4gJp8vYqD2vLpJZ_YKst00ocz1tb31SKzLZ1eo8ly-xGq8xsTBBRuK4zSpujGF6wm-js3BQoMNPLPbgCuaz7NBwW8igL0xzvpEZPltZuyhR9TqfXD7cK-NzE7eIs4CwNSuLfp1mMXq_AhKFR9BAfllukVLlXsSPeaJ7pxA8qsCHJQ_P1Z83vmBYef2EeaMX5o8mx6KzN6nMaSFxaNJAlPN1xunx0_LnhlZFlK9fgsWwqQuOkSujH8jOceQoFRCMF6hSvlAFazunL7vK_zcEwA_354HBw23J6JZ-WHDqbaBzfxQ8vkfjYaucczM0-pEsuNx02Y3HpJsqzdBXshmAOjrMOJ2Lm00wp2Zaon3CYXNMqvGsNCBD9KEEj729sB8JZ732SN8WcxQw_nvxzoCHE_gcpDmKRLetElxuKDC-hKo5tlIF8LHvxvkvkzBt54bXE7k_kaDqapm11M26rHZjtUhR0_Q9EyYS9_8lqZc-lkv22w-Tmx7agmxbE1dnrgmF_RMRLUO4eW8k4pEHG7-98TntzWnCgU8038adav7udDHEZV57Csad77Ynm-4IQ-ZS2uhMO7Off990cfz1aRxvUIB2iJEyHpioa9WgtU8KIr7sCZCK2LW=w319-h219-no?authuser=0");
  background-size: cover;
  background-position: 0;
  gap: 60px;
  border-radius: 8px;
  opacity: 0.8;
}

.image-fitlab p {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
  margin: 10px;
  font-family: "Inter";
  text-align: center;
}

.image-fitlab a {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 14px;
  color: #f2f2f2;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 20px;
  background: #64748b;
  border-radius: 40px;
}

.image-fitlab:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.image-fitlab:hover p {
  opacity: 1;
  transform: scale(1);
}

.image-fitlab:hover a {
  opacity: 1;
  transform: scale(1);
}

.image-festlook {
  width: 30%;
  height: 350px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://lh3.googleusercontent.com/68v3WEbwjgsZEFXcPFQOaKdRnTER4ObuxTzssp39wt0JxMvfV3hNbwuBnb9xIx2qnS27vZX5r3zGgHXkAWf2AZCnAyCFFSRbTB3BH5K3VxaU_K0SsZVWn0RrLEbzMZIIdGei9Dy4ka_IAxpMRmU-4FTX81TtSZF4HmVNzxV6E1ZmtRW-JG2Zf89o745F1fFN868OshE6RNhnFnmz-j5vKj7nFiyhuEzwQItlgPj93_DEfvBOa2YeHFVwArFjcoId5YYwY_vOg2v_uOuMfJxtXkGecxkRXpuiQwEDmxx6giVBah51GRTr2ovV-Z0SjfMty0p0rLozTWTTkoP2deCZfYF3VwQkjjxrrW1hDWPVD0tH9xBwhCUgUmcu5gz1lh0MpMUyaT0C2PPdD2N40tbl9eA1IzjoMrPUUpDP__1_OLrgZSHXdubzc9W8vxxNpSWXsxXF-th3sH1u29S5gt-n8RqctLLCSE06CDS20eQIOGAdmJvVU9MjMTpROEjFbp5W-5LilqAB44lEh4lZQwPMviO7NOuH7h3qxI8D6z-VgTcs5WhnxuBsvWs5g_FBiR2NQJzCJzCHvO4mZsJsENo24EBm4FJuADSPfBZtC80Hck72Q46kK0SGypRlyu6nJBHsWjLxhjPUSoRVggv8fdUHGb4nP8x80cenJjuZfk_Y6j9UyRGE1hRruNxt6dBCC883tufcOhnTI0dx3Iw8he60xTEfIhtrU0tAuXBKyqcIgi1SAHIEPKhpV6_3A_kahhRDopKpcyHCKvioUngkd4lpBxr6ZMPMrhH25BqxOUzSbv5Bm7MjO_m6t-aXZZ4UdzwkTaYSlqvH1yBLR6FvXW4TKFFSsuanpB7zRwAU0OX0yrXhkjAS6QesqQTuUhhXH3p1omsVddcZ5atdKdgPDbpTZLyevyhoXZew3WObXlmKQj9Kdx2Q=w1304-h943-s-no?authuser=0");
  background-size: cover;
  background-position: 50%;
  gap: 60px;
  border-radius: 8px;
  opacity: 0.8;
}

.image-festlook p {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
  margin: 10px;
  font-family: "Inter";
  text-align: center;
}

.image-festlook a {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 14px;
  color: #f2f2f2;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 20px;
  background: #64748b;
  border-radius: 40px;
}

.image-festlook:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.image-festlook:hover p {
  opacity: 1;
  transform: scale(1);
}

.image-godzillapi {
  width: 30%;
  height: 350px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/godzillapi.png);
  background-size: cover;
  background-position: 50%;
  gap: 60px;
  border-radius: 8px;
  opacity: 0.8;
}

.image-godzillapi p {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
  margin: 10px;
  font-family: "Inter";
  text-align: center;
}

.image-godzillapi a {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 14px;
  color: #f2f2f2;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 20px;
  background: #64748b;
  border-radius: 40px;
}

.image-godzillapi:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.image-godzillapi:hover p {
  opacity: 1;
  transform: scale(1);
}

.image-godzillapi:hover a {
  opacity: 1;
  transform: scale(1);
}

@keyframes moving {
  0% {
    top: -15px;
  }
  95% {
    top: 150px;
  }
  100% {
    top: 165px;
  }
}

.image-festlook:hover a {
  opacity: 1;
  transform: scale(1);
}

/* iPhone 13 Pro Max */
@media only screen and (max-width: 1200px) {
  .projects-banner-container {
    width: calc(100% - 2rem);
    height: fit-content;
    margin: auto;
  }

  .projects-banner-small-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 94%;
    height: 100%;
    padding: 50px 0px;
  }

  .image-dmv {
    width: 100%;
  }

  .image-fitlab {
    width: 100%;
  }

  .image-festlook {
    width: 100%;
  }
  .image-godzillapi {
    width: 100%;
  }
}
